@using System.Text.RegularExpressions;
@using Azure.Core;
@using Microsoft.AspNetCore.Mvc.Localization;
@model LMS.Models.ViewModel.HomeViewModel
@inject IViewLocalizer Localizer

@{
    // Get the current culture
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    var totalPages = (int)Math.Ceiling((double)Model.TotalCourseCount / Model.PageSize);

    // Check if the culture is "ar_SA"
    if (culture == "ar-SA")
    {
        Layout = "_LayoutArabic";
    }
    else
    {
        // Set a default layout for other cultures
        Layout = "_Layout";
    }
}



<div style="margin-top:10rem;" class="container">
    <h1 style="">@Localizer["Instructor Information"]  </h1>

    <div class="mt-30 col ">
        <div class="d-flex x-gap-20 y-gap-20 items-center flex-wrap">

            <img class="object-cover" src="@Model?.InstructorUser.ImageUrl" style="width:120px; height:120px;" width="140" height="140" alt="image">



            <div class="">
                <h5 class="text-17 lh-14 fw-500">@Model.InstructorUser.UserName</h5>
                <p class="mt-5">@Model.InstructorUser.JobTitle</p>

                @if (culture == "ar-SA")
                {

                    <div class="d-flex x-gap-20 y-gap-10 flex-wrap items-center pt-10">
                        <div class="d-flex items-center">
                            <div class="d-flex items-center mr-8">
                                <div class="text-13 lh-1">  تقيم الاستاذ</div>

                            </div>
                            <div class="text-14 lh-12  mr-5">
                                @Context.Request.Query["rating"]
                            </div>
                            <div class="icon-star text-yellow-1 text-11 mr-3"></div>

                        </div>

                        <div class="d-flex items-center text-light-1">
                            <div class="text-13 lh-1">@Context.Request.Query["reviews"] المراجعات</div>
                            <div class="icon-comment text-13 mr-8"></div>

                        </div>

                        <div class="d-flex items-center text-light-1">
                            <div class="text-13 lh-1">@Context.Request.Query["students"] الطلاب</div>
                            <div class="icon-person-3 text-13 mr-8"></div>

                        </div>

                        <div class="d-flex items-center text-light-1">

                            <div class="text-13 lh-1">@Context.Request.Query["Courses"] الدروس</div>
                            <div class="icon-wall-clock text-13 mr-8"></div>

                        </div>

                    </div>
                }
                else
                {


                    <div class="d-flex x-gap-20 y-gap-10 flex-wrap items-center pt-10">
                        <div class="d-flex items-center">
                            <div class="d-flex items-center mr-8">
                                <div class="icon-star text-yellow-1 text-11 "></div>

                                <div class="text-14 lh-12  ml-5">
                                    @Context.Request.Query["rating"]
                                </div>
                            </div>
                            <div class="text-13 lh-1">  Instructor Rating</div>
                        </div>

                        <div class="d-flex items-center text-light-1">
                            <div class="icon-comment text-13 mr-8"></div>
                            <div class="text-13 lh-1"> @Context.Request.Query["reviews"] Reviews</div>
                        </div>

                        <div class="d-flex items-center text-light-1">
                            <div class="icon-person-3 text-13 mr-8"></div>
                            <div class="text-13 lh-1"> @Context.Request.Query["students"] Students</div>
                        </div>

                        <div class="d-flex items-center text-light-1">
                            <div class="icon-wall-clock text-13 mr-8"></div>

                            <div class="text-13 lh-1">@Context.Request.Query["Courses"] Course</div>
                        </div>

                    </div>
                }
            </div>



        </div>

        <div class="mt-30 mb-5">
            <p>
                @Html.Raw(@Model.InstructorUser.Description)
            </p>
        </div>

    </div>

    <section class="layout-pt-lg layout-pb-lg">
        <div data-anim-wrap class="container">
            <div class="">
                <div class="">

                    <div class="sectionTitle row">
                        <div class="col-lg-6">
                            <h2 class="sectionTitle__title">@Localizer["Last Courses"]</h2>
                        </div>


                        @if (culture == "ar-SA")
                        {
                            <div class="col-lg-6 mt-5">
                                <form action="/Instructor/Details" method="GET" style="width:500px;">
                                    <input type="hidden" name="id" value="@Model.InstructorUser.Id" />

                                    <div style="display: flex;">
                                        <input value="@Context.Request.Query["searchTerm"]" name="searchTerm" style="flex: 1;" class="form-control mt-2 input-box" type="text" id="searchInput" aria-label="Large" placeholder="ابحث عن اسم الكورس" aria-describedby="inputGroup-sizing-sm">
                                        <button style="margin-right:8px;" type="submit" class="btn btn-outline-secondary "> <i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-6 mt-5">
                                <form action="/Instructor/Details" method="GET" style="width:500px;">
                                    <input type="hidden" name="id" value="@Model.InstructorUser.Id" />

                                    <div style="display: flex;">
                                        <input value="@Context.Request.Query["searchTerm"]" name="searchTerm" style="flex: 1;" class="form-control mt-2 input-box" type="text" id="searchInput" aria-label="Large" placeholder="Search by course title" aria-describedby="inputGroup-sizing-sm">
                                        <button type="submit" class="btn btn-outline-secondary"> <i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>


                        }
                    
                    </div>
                    <style>
                        /* Define the border style for the input box */
                        .input-box {
                            border: 2px solid #6f42c1 !important;
                            padding: 8px; /* Add some padding for better appearance */
                            font-size: 16px; /* You can adjust the font size as needed */
                        }

                    </style>
                    <style>
                        /* Style for the search button */
                        .btn-outline-secondary {
                            border-color: #ced4da;
                            color: #495057;
                            margin-left: 8px;
                            margin-top: 8px;
                            height: 45px;
                        }

                    </style>

                    <p class="sectionTitle__text ">@Model.Courses.Count()+ @Localizer["unique online course list designs"] </p>

                </div>

            </div>



            <div class="row y-gap-30 justify-center pt-50 search">
                @foreach (var course in Model.Courses)
                {
                    <div class="col-lg-3 col-md-6 coursesCard">
                        <div data-anim-child="slide-up delay-1">

                            <a href="/course/details/@course.Id" class="coursesCard -type-1 border-light rounded-8">
                                <div class="relative">
                                    <div class="coursesCard__image overflow-hidden rounded-top-8">
                                        @{
                                            string embeddedUrl = null;
                                            if (!string.IsNullOrEmpty(course.CourseIntroductionVideo))
                                            {
                                                var match = Regex.Match(course.CourseIntroductionVideo, "(?<=v=|youtu.be/|/vi/|/embed/|/v/|/e/|/u/\\w+/|/embed/|/v/|/a/|/p/|/br/|//www.youtube.com/embed/|//www.youtube.com/watch?v=|//youtu.be/|//www.youtube.com/v/|//embed/|//u//\\w+//|//embed/|//v//|//a//|//p//|//br//|//www.youtube.com/embed/|//www.youtube.com/watch?v=|//youtu.be/|//www.youtube.com/v/|//embed/|//u//\\w+//|//embed/|//v//|//a//|//p//|//br//|//www.youtube.com/embed/|//www.youtube.com/watch?v=|//youtu.be/|//www.youtube.com/v/|//embed/|//u//\\w+//|//embed/|//v//|//a//|//p//|//br//|//www.youtube.com/embed/|//www.youtube.com/watch?v=|//youtu.be/|//www.youtube.com/v/|//embed/|//u//\\w+//|//embed/|//v//|//a//|//p//|//br//)([\\w-]+)(.*)");
                                                var videoId = match.Success ? match.Groups[1].Value : "";
                                                embeddedUrl = "https://www.youtube.com/embed/" + videoId;
                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(embeddedUrl))
                                        {
                                            <iframe class="w-1/1 rounded-8" src="@embeddedUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        }
                                        <div class="coursesCard__image_overlay rounded-top-8"></div>
                                    </div>

                                    <div class="d-flex justify-between py-10 px-10 absolute-full-center z-3">
                                    </div>
                                </div>
                                @{
                                    var courseRatings = Model.CourseRatings.Where(rating => rating.CourseId == course.Id).ToList();
                                    double averageScore = CommonUsed.CalculateAverageScore(courseRatings);
                                    int ratingsCount = courseRatings.Count;
                                    int totalDurations = Model.CourseChapterContents
                                    .Where(content => content.courseChapter.courseId == course.Id) // Filter contents by CourseId
                                    .Sum(content => content.Duration); // Sum the durations
                                    var coursecategory = Model.CourseCategories.FirstOrDefault(category => category.Id == course.CourseCategoryId);


                                }
                                @if (culture == "ar-SA")
                                {

                                    <div class="coursesCard__content pl-20 sm:pl-10 pr-10">
                                        <div class="d-flex items-center">
                                            <div class="d-flex x-gap-5 items-center">


                                                @if (averageScore > 0)
                                                {
                                                    for (int i = 0; i < (int)averageScore; i++)
                                                    {
                                                        <div class="icon-star text-9 text-yellow-1"></div>
                                                    }
                                                }


                                            </div>
                                            <div class="text-14 lh-1 text-yellow-1 mr-10">
                                                @(averageScore > 0 ? @Math.Round(averageScore, 1).ToString() : "غير مصنف")
                                            </div>

                                            @if (ratingsCount > 0)
                                            {
                                                <div class="text-13 lh-1 ml-10 me-3">(@ratingsCount)</div>
                                            }


                                        </div>

                                        <div class="text-17 lh-13 fw-500 text-dark-1 mt-10">@course.ArTitle</div>

                                        @if (course.EnTitle.Length < 35)
                                        {
                                            <br>
                                        }
                                        <div class="d-flex x-gap-15 items-center py-10">

                                            <div class="d-flex items-center">
                                                <div class="text-14 lh-1">@coursecategory.ArName</div>

                                                <div class="mr-8">
                                                    <i class="fas fa-book mt-1"></i>
                                                </div>
                                            </div>

                                            <div class="d-flex items-center">
                                                <div class="text-14 lh-1 text-light-1">@Model.CourseChapterContents.Where(c => c.courseChapter.courseId == course.Id).Count() دروس</div>

                                                <div class="mr-10">
                                                    <img src="img/coursesCards/icons/1.svg" alt="icon">
                                                </div>
                                            </div>

                                            <div class="d-flex items-center">
                                                <div class="text-14 lh-1 text-light-1">@totalDurations دقيقة</div>

                                                <div class="mr-10">
                                                    <img src="img/coursesCards/icons/2.svg" alt="icon">
                                                </div>
                                            </div>

                                            <div class="d-flex items-center">
                                                <div class="text-14 lh-1 text-light-1">@course.Level</div>

                                                <div class="mr-10">
                                                    <img src="img/coursesCards/icons/3.svg" alt="icon">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="d-flex justify-between items-center pt-10 border-top-light">
                                            <div class="d-flex items-center">
                                                <img src="@Model.Coursesingle.InstructorUsers.ImageUrl" style="border-radius:50%" height="30" width="30" alt="image">
                                                <div class="text-light-1 ml-10">@Model.Coursesingle.InstructorUsers.UserName</div>
                                            </div>

                                            <div class="d-flex items-center">
                                                @if (course.Fee == 0)
                                                {
                                                    <div class="text-18 fw-500 text-dark-1">مجانا</div>
                                                }
                                                else
                                                {
                                                    <div class="text-18 fw-500 text-dark-1">$@course.Fee</div>
                                                }
                                            </div>

                                        </div>
                                    </div>

                                }


                                else
                                {
                                    <div class="coursesCard__content pl-20 sm:pl-10 pr-10">
                                        <div class="d-flex items-center">
                                            <div class="text-14 lh-1 text-yellow-1 mr-10">
                                                @(averageScore > 0 ? @Math.Round(averageScore, 1).ToString() : "Not rated")
                                            </div>

                                            <div class="d-flex x-gap-5 items-center">


                                                @if (averageScore > 0)
                                                {
                                                    for (int i = 0; i < (int)averageScore; i++)
                                                    {
                                                        <div class="icon-star text-9 text-yellow-1"></div>
                                                    }
                                                }


                                            </div>
                                            @if (ratingsCount > 0)
                                            {
                                                <div class="text-13 lh-1 ml-10">(@ratingsCount)</div>
                                            }
                                        </div>

                                        <div class="text-17 lh-13 fw-500 text-dark-1 mt-10">@course.EnTitle</div>

                                        @if (course.EnTitle.Length < 35)
                                        {
                                            <br>
                                        }
                                        <div class="d-flex x-gap-15 items-center py-10">

                                            <div class="d-flex items-center">
                                                <div class="mr-8">
                                                    <i class="fas fa-book mt-1"></i>
                                                </div>
                                                <div class="text-14 lh-1">@coursecategory.EnName</div>
                                            </div>

                                            <div class="d-flex items-center">
                                                <div class="mr-10">
                                                    <img src="img/coursesCards/icons/1.svg" alt="icon">
                                                </div>
                                                <div class="text-14 lh-1 text-light-1">@Model.CourseChapterContents.Where(c => c.courseChapter.courseId == course.Id).Count() lesson</div>
                                            </div>

                                            <div class="d-flex items-center">
                                                <div class="mr-10">
                                                    <img src="img/coursesCards/icons/2.svg" alt="icon">
                                                </div>
                                                @{
                                                    int totalDurationInMinutes = totalDurations;
                                                    int hours = totalDurationInMinutes / 60;
                                                    double remainingMinutes = totalDurationInMinutes % 60;
                                                    double totalDurationInHours = hours + (remainingMinutes / 60.0);
                                                }

                                                @if (totalDurationInMinutes < 60)
                                                {
                                                    <div class="text-14 lh-1 text-light-1">@totalDurationInMinutes Minutes</div>
                                                }
                                                else
                                                {
                                                    <div class="text-14 lh-1 text-light-1">@totalDurationInHours.ToString("0.0") Hours</div>
                                                }
                                            </div>

                                            <div class="d-flex items-center">
                                                <div class="mr-10">
                                                    <img src="img/coursesCards/icons/3.svg" alt="icon">
                                                </div>
                                                <div class="text-14 lh-1 text-light-1">@course.Level</div>
                                            </div>

                                        </div>

                                        <div class="d-flex justify-between items-center pt-10 border-top-light">
                                            <div class="d-flex items-center">
                                                <img src="@Model.Coursesingle.InstructorUsers.ImageUrl" alt="image" style="border-radius:50%; height:30px; width:30px; ">
                                                <div class="text-light-1 ml-10">@Model?.Coursesingle.InstructorUsers.UserName</div>
                                            </div>

                                            <div class="d-flex items-center">
                                                @if (course.Fee == 0)
                                                {
                                                    <div class="text-18 fw-500 text-dark-1">Free</div>
                                                }
                                                else
                                                {
                                                    <div class="text-18 fw-500 text-dark-1">$@course.Fee</div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </a>

                        </div>
                    </div>
                }

                <div class="mb-5" aria-label="Page navigation example">
                    <div class="pagination justify-content-center">
                        @if (Model.CurrentPage > 1)
                        {
                            if (culture == "ar-SA")
                            {
                                <a class="page-link" href="@Url.Action("Details", "Instructor", new { id = Model.InstructorUser.Id, searchTerm = Model.SearchTerm, page = Model.CurrentPage - 1})">السابق</a>
                            }
                            else
                            {
                                <a class="page-link" href="@Url.Action("Details", "Instructor", new { id = Model.InstructorUser.Id, searchTerm = Model.SearchTerm, page = Model.CurrentPage - 1})">Previous</a>
                            }
                        }
                        @for (int i = 1; i <= Model.TotalPagesInsTructor; i++)
                        {
                            <a class="page-link @(Model.CurrentPage == i ? "active" : "")" href="@Url.Action("Details", "Instructor", new { id = Model.InstructorUser.Id, searchTerm = Model.SearchTerm, page = i })">@i</a>
                        }
                        @if (Model.CurrentPage < Model.TotalPagesInsTructor)
                        {
                            if (culture == "ar-SA")
                            {
                                <a class="page-link" href="@Url.Action("Details", "Instructor", new { id = Model.InstructorUser.Id, searchTerm = Model.SearchTerm, page = Model.CurrentPage + 1 })">التالي</a>
                            }
                            else
                            {
                                <a class="page-link" href="@Url.Action("Details", "Instructor", new { id = Model.InstructorUser.Id, searchTerm = Model.SearchTerm, page = Model.CurrentPage + 1 })">Next</a>
                            }
                        }
                    </div>
                </div>



            </div>
        </div>
    </section>

</div>

<style>
    .page-item::marker {
        content: none;
    }

</style>
