@model IEnumerable<LMS.Models.CourseExam>
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@{
    // Get the current culture
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

    // Check if the culture is "ar_SA"
    if (culture == "ar-SA")
    {
        Layout = "_LayoutArabic";
    }
    else
    {
        // Set a default layout for other cultures
        Layout = "_LessonLayout";
    }
}
<div class="container" >
    <h2 style="margin-top:10rem;"> @Localizer["Exam Questions"]</h2>

<form method="post" action="/Course/SubmitExam">

    <input hidden name="courseId" value="@Context.Request.Query["courseId"]" />

    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="question-container mt-2" style="border: 1px solid #ddd; padding: 15px; margin-bottom: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
            <h3 style="border-bottom: 1px solid #ddd; padding-bottom: 10px;">@Model.ElementAt(i).Question</h3>

            <input type="hidden" name="[@i].Id" value="@Model.ElementAt(i).Id" />

            <div class="answers" style="margin-top: 15px;">
                <!-- Radio Buttons -->
                <div style="padding: 5px;">
                    <input type="radio" name="[@i].CorrectAnswer" value="1" id="answer-@Model.ElementAt(i).Id-1">
                    <label for="answer-@Model.ElementAt(i).Id-1">@Model.ElementAt(i).Answer1</label>
                </div>

                <div style="padding: 5px;">
                    <input type="radio" name="[@i].CorrectAnswer" value="2" id="answer-@Model.ElementAt(i).Id-2">
                    <label for="answer-@Model.ElementAt(i).Id-2">@Model.ElementAt(i).Answer2</label>
                </div>

                <div style="padding: 5px;">
                    <input type="radio" name="[@i].CorrectAnswer" value="3" id="answer-@Model.ElementAt(i).Id-3">
                    <label for="answer-@Model.ElementAt(i).Id-3">@Model.ElementAt(i).Answer3</label>
                </div>

                <div style="padding: 5px;">
                    <input type="radio" name="[@i].CorrectAnswer" value="4" id="answer-@Model.ElementAt(i).Id-4">
                    <label for="answer-@Model.ElementAt(i).Id-4">@Model.ElementAt(i).Answer4</label>
                </div>
            </div>
        </div>
    }

        <button type="submit" class="btn btn-primary mb-3"> @Localizer["Submit Exam"] </button>
</form>
</div>