@using System.Text.RegularExpressions;
@using System.Security.Claims;
@model LMS.Models.ViewModel.LessonViewModel
@using Microsoft.AspNetCore.Mvc.Localization;
@using LMS.Extensions
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@inject IViewLocalizer Localizer
@{
    // Get the current culture
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

    // Set layout based on culture
    if (culture == "ar-SA")
    {
        Layout = "_LessonLayoutarabic";
    }
    else
    {
        Layout = "_lessonlayout";
    }
}

<link href="/css/pdf-viewer.css" rel="stylesheet" type="text/css" />
<script src="/js//pdf.js"></script>
<script src="/js/pdf-viewer.min.js"></script>




<section class="lesson-image responsive-section" id="lesson-image">
    <div class="relative pt-40" style="margin-top: 3rem;">
        <div class="d-flex justify-center items-center">
            <div class="youtube-container">
                <iframe id="youtube-iframe" width="1450" height="800" class="w-full h-full js-gallery" data-gallery="gallery1"></iframe>
            </div>
        </div>
    </div>
</section>

<section class="lesson-image responsive-section" id="lesson-pdf" style="display: none;">
    <div class="relative pt-40" style="margin-top: 3rem;">
        <div class="d-flex justify-center items-center">
            <div class="pdf-container youtube-container">
                <embed id="pdf-iframe" src="\CourseFlyer\5fac0a4a-85a1-431e-95db-68921ac4f274.pdf" class="w-full h-full js-gallery"  height="800" width="1450">
            </div>
        </div>
    </div>
</section>

<script>
    function resizeIframe() {
        const sections = document.querySelectorAll(".responsive-section");

        sections.forEach(section => {
            const iframe = section.querySelector('iframe, embed'); // Select either iframe or embed
            const aspectRatio = 9 / 16; // 16:9 aspect ratio

            const newWidth = section.offsetWidth;
            const newHeight = newWidth * aspectRatio;

            iframe.style.width = newWidth + "px";
            iframe.style.height = newHeight + "px";
        });
    }

    window.onload = function () {
        resizeIframe(); // Set initial size
        window.addEventListener("resize", resizeIframe);
    };
</script>



<div class="d-flex flex-column">

    @if (culture == "ar-SA")
    {
        <section class="pt-40 layout-pb-lg lg:order-2">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-8 col-xl-7 col-lg-8">
                        <div class="course-content" id="course-content" dir="rtl">
                            <h4 class="text-18 fw-500">الوصف</h4>
                            <p class="mt-30" id="course-description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="pt-40 layout-pb-lg lg:order-2">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-8 col-xl-7 col-lg-8">
                        <div class="course-content" id="course-content">
                            <h4 class="text-18 fw-500">Description</h4>
                            <p class="mt-30" id="course-description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <aside class="lesson-sidebar -type-2 lg:order-1">
        <div class="px-30 sm:px-20">
            <div class="accordion -block-2 text-left js-accordion mt-30">
                @foreach (var chapter in Model.CourseChapters.OrderBy(c => c.Indx))
                {
                    <div class="accordion__item">
                        @if (culture == "ar-SA")
                        {
                            <div class="accordion__button py-20 px-30 bg-light-4" style="direction:rtl;">
                                <a class="text-17 fw-500 text-dark-1">@chapter.Name</a>

                                <div class="d-flex items-center">
                                    <div class="accordion__icon">
                                        <div class="icon" data-feather="chevron-down"></div>
                                        <div class="icon" data-feather="chevron-up"></div>
                                    </div>


                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="accordion__button py-20 px-30 bg-light-4">
                                <div class="d-flex items-center">
                                    <div class="accordion__icon">
                                        <div class="icon" data-feather="chevron-down"></div>
                                        <div class="icon" data-feather="chevron-up"></div>
                                    </div>

                                    <a class="text-17 fw-500 text-dark-1">@chapter.Name</a>

                                </div>
                            </div>
                        }


                        <div class="accordion__content">
                            <div class="accordion__content__inner px-30 py-30">
                                <div class="y-gap-30">
                                    @foreach (var content in Model.CourseChapterContents.Where(c => c.CourseChapterId == chapter.Id).OrderBy(c => c.Indx))
                                    {
                                        var videoId = string.Empty;
                                        if (!string.IsNullOrEmpty(content.Youtube))
                                        {
                                            var match = Regex.Match(content.Youtube, "(?<=v=)[^&]+");
                                            videoId = match.Value;
                                        }
                                        @if (culture == "ar-SA")
                                        {
                                            <div class="" style="direction:rtl;">
                                                <div class="d-flex">
                                                    <div style="margin-left: 15px;" class=" d-flex justify-center items-center size-30 rounded-full bg-purple-3 ">
                                                        <div class="icon-play text-9" id="icon-play"></div>
                                                    </div>
                                                    <div class="accordion__button">

                                                        @if (FileExtensions.HasPdfExtension(content.FilePath))
                                                        {
                                                            <a style="margin-left:8px;" href="javascript:void(0)" class="content-title text-purple-1 click" data-duration="@content.Duration" data-youtube-id="" data-description="@content.Description" data-pdf-path="@content.FilePath" onclick="changeIconColor(event, this, '@content.Description', '', '@content.Duration', '@content.Id');  showPdfSection(this);">
                                                                @content.Title (PDF)
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a style="margin-left:8px;" href="#" class="content-title text-purple-1 click" data-duration="@content.Duration" data-youtube-id="@videoId" data-description="@content.Description" onclick="changeIconColor(event, this, '@content.Description', '@videoId', '@content.Duration', '@content.Id'); toggleYouTubeSection()">
                                                                @content.Title
                                                            </a>
                                                        }

                                                        <div class="d-flex x-gap-20 items-centerz " >
                                                            <a class="text-14 lh-1 text-purple-1 mt-2 underline">@content.Duration دقيقة</a>

                                                            <div  class="course-content-container.@content.Id">
                                                                <!-- Your content here. This is where the check mark will be appended if the AJAX request is successful or if IsCompleted is true -->
                                                                @if (content.courseComplete != null && content.courseComplete.IsCompleted == true)
                                                                {
                                                                    <i class="fa-solid fa-check mt-2 course-complete-check.@content.Id"></i>
                                                                }
                                                            </div>



                                                        </div>

                                                        
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                        else
                                        {

                                            <div class="">
                                                <div class="d-flex">
                                                    <div class="d-flex justify-center items-center size-30 rounded-full bg-purple-3 mr-10">
                                                        <div class="icon-play text-9" id="icon-play"></div>
                                                    </div>
                                                    <div class="accordion__button">
                                                        @if (FileExtensions.HasPdfExtension(content.FilePath))
                                                        {
                                                            <a href="javascript:void(0)" class="content-title text-purple-1 click" data-duration="@content.Duration" data-youtube-id="" data-description="@content.Description" data-pdf-path="@content.FilePath" onclick="changeIconColor(event, this, '@content.Description', '', '@content.Duration', '@content.Id');  showPdfSection(this);">
                                                                @content.Title (PDF)
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="content-title text-purple-1 click" data-duration="@content.Duration" data-youtube-id="@videoId" data-description="@content.Description" onclick="changeIconColor(event, this, '@content.Description', '@videoId', '@content.Duration', '@content.Id'); toggleYouTubeSection()">
                                                                @content.Title
                                                            </a>
                                                        }

                                                        <div class="d-flex x-gap-20 items-centerz ">
                                                            <a class="text-14 lh-1 text-purple-1 mt-2 underline">@content.Duration min</a>

                                                            <div class="course-content-container.@content.Id">
                                                                <!-- Your content here. This is where the check mark will be appended if the AJAX request is successful or if IsCompleted is true -->
                                                                @if (content.courseComplete != null && content.courseComplete.IsCompleted == true)
                                                                {
                                                                    <i class="fa-solid fa-check mt-2 course-complete-check.@content.Id" style="display: inline-block;"></i>
                                                                }
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

    </aside>
</div>
z
<script>
    $(window).on('load', function () {
        showCourseIntroductionVideo();
        resizeIframe(); // Set initial size
        window.addEventListener("resize", resizeIframe);
    });





    function showCourseIntroductionVideo() {
        var defaultVideoUrl = '@Model.Course.CourseIntroductionVideo';
        var defaultVideoId = extractVideoId(defaultVideoUrl);

        if (defaultVideoId) {
            var defaultEmbeddedUrl = "https://www.youtube.com/embed/" + defaultVideoId;
            $("#youtube-iframe").attr("src", defaultEmbeddedUrl);
        }

        function extractVideoId(url) {
            var match = /(?:[?&]v=|\/embed\/|\/\d\/|\/v\/|https?:\/\/(?:www\.)?youtube\.com\/watch(?:\?v=|\/\d\/|\/v\/)|https?:\/\/(?:www\.)?youtube\.com\/v\/)([^&\n?#]+)/.exec(url);
            return match && match[1];
        }
    }

    var lastClickedIcon = null;

    var timerId;
    function changeIconColor(event, element, description, videoId, duration, contentId) {
        event.stopPropagation(); // Prevent click event propagation
        // console.log(description);
        //console.log(duration);
        console.log(contentId);

        // If there was a previously clicked icon, reset its color
        if (lastClickedIcon) {
            lastClickedIcon.classList.add('text-9');
        }

        // Find the icon related to the clicked element
        var icon = element.parentElement.parentElement.querySelector('.icon-play');

        // If the icon is found, change its color and remember it as the last clicked icon
        if (icon) {
            icon.classList.remove('text-9');
            lastClickedIcon = icon;
        }

        // Update the course description and video
        var courseDescription = document.getElementById('course-description');

        if (courseDescription && description) {
            courseDescription.innerHTML = description;
        }

        if (videoId) {
            var embeddedUrl = "https://www.youtube.com/embed/" + videoId;
            document.getElementById('youtube-iframe').src = embeddedUrl;
        }

        var halfDuration = parseInt(duration) * 30 * 1000;
        console.log(halfDuration);

        // Reset the previous timer if exists
        if (timerId) {
            clearInterval(timerId);
        }

        // Start the timer when the user clicks on the content
        var startTime = new Date().getTime();

        timerId = setInterval(function () {
            var currentTime = new Date().getTime();
            var elapsedTime = currentTime - startTime;

            if (elapsedTime >= halfDuration) {
                clearInterval(timerId);

                // Send the AJAX request to mark the content as completed
                markContentComplete();
            }
        }, 1000);


        // ajax request
        function markContentComplete() {
            $.ajax({
                type: "POST",
                url: "/Course/MarkCourseContentComplete",
                data: {
                    contentId: contentId,
                    isCompleted: true

                },
                success: function (response) {
                   
                    toastr.success('Half Course Finished')

                },
                error: function (xhr, status, error) {
                    // Handle the error response if needed
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                }
            });
        }
    }



</script>


<script>
    function toggleYouTubeSection() {
        var youtubeSection = document.getElementById("lesson-image");
        var pdfSection = document.getElementById("lesson-pdf");

        youtubeSection.style.display = "block";
        pdfSection.style.display = "none";

        resizeIframe();  // Call resize function after changing visibility
    }

    function showPdfSection(element) {
        var youtubeSection = document.getElementById("lesson-image");
        var pdfSection = document.getElementById("lesson-pdf");
        var pdfPath = element.getAttribute("data-pdf-path");

        youtubeSection.style.display = "none";
        pdfSection.style.display = "block";

        var pdfIframe = document.getElementById("pdf-iframe");
        pdfIframe.setAttribute("src", pdfPath);

        resizeIframe();  // Call resize function after changing visibility
    }
</script>







<style>

    .content-link:hover {
        cursor: pointer !important;
    }
</style>